name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: Poweres-K/test-playwright
          ref: main
          token: ${{ secrets.AUTOMATION_TEST_PRIVATE_KEY }}

      - name: "Intitialize: Summon NodeJS"
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: pnpm/action-setup@v2.0.1
        name: "Intitialize: Configure pnpm"
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Cache playwright binaries
        uses: actions/cache@v3
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: cache-playwright-linux-1.22.2

      - run: pnpm store path && cd ~ && pwd

      - name: "Cache: node_modules"
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            ~/.cache/Cypress
            ~/.local/share/pnpm/store/v3
          key: ${{ runner.OS }}-x86-node16-pnpm7-e2e-${{ secrets.CACHE_HASH }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.OS }}-x86-node16-pnpm7-e2e-${{ secrets.CACHE_HASH }}-${{ env.cache-name }}-
            ${{ runner.OS }}-x86-node16-pnpm7-e2e-${{ secrets.CACHE_HASH }}-

      - name: Install dependencies
        run: pnpm -r i --shamefully-hoist --prefer-offline

      - name: Install Playwright Browsers
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: pnpx playwright install --with-deps

      - name: Run Playwright tests
        run: pnpx playwright test --workers 4
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
