name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          repository: Poweres-K/test-playwright
          ref: main
          token: ${{ secrets.AUTOMATION_TEST_PRIVATE_KEY }}
      - name: "Intitialize: Summon NodeJS"
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v3
        if: always()
          with:
            path: report
